body {
    font-size: 3em;
}
.light {
    position: fixed;
    right: 50px;
    top: 50px;
    width: 50px;
    height: 50px;
    display: none;
    border-radius: 25px;
    background: radial-gradient(ellipse at center, rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%);
}
